/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

body {
    /*height: 1000px;*/
}

/* Header section */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: rgba(99, 193, 184, 0.5);
    -webkit-transform: translateZ(0);
    z-index: 999;
}

.logo {
    float: left;
    line-height: 60px;
    width: 30%;
    text-align: center;
}

.logo span:first-child {
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;

}

.logo span:last-child {
    color: white;
    font-size: 18px;
}

.navigation {
    list-style-type: none;
    margin: 0;
    height: 60px;
    width: 70%;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.navigation li {
    margin-right: 10px;
    position: relative;
}

.navigation li:last-of-type {
    margin-right: 0;
}

.navigation li a {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    color: white;
    font-size: 12px;
    padding: 7px 16px;
    border-radius: 5px;
}

.navigation li:hover a {
    background-color: #FC645A;
}

.navigation li:hover a .glyphicon {
    visibility: visible;
}

.navigation li:hover .submenu {
    display: block;
}

.submenu {
    background-color: #E2534B;
    border: 3px solid #E2534B;
    border-radius: 5px;
    display: none;
    position: absolute;
    /*top: 35px;*/
    list-style-type: none;
}

.submenu li {
    margin-bottom: 3px;
    margin-right: 0;
}

.submenu li:last-of-type {
    margin-bottom: 0;
}

.submenu li a {
    background-color: #FC645A;
    display: block;
    width: 100%;
    white-space: nowrap;
}

.submenu li a:hover {
    background-color: #76C7C0;
}

.glyphicon-search {
    color: white;
    font-size: 0.9em;
}

.glyphicon-menu-down {
    color: white;
    font-size: 0.6em;
    vertical-align: 3px;
    margin-right: 5px;
    visibility: hidden;
}

.glyphicon-menu-right {
    color: white;
    font-size: 0.6em;
    vertical-align: 3px;
    margin-right: 10px;
}

.arrow-up {
    position: absolute;

    top: -5px;
    left: 7px;
    width: 0; 
    height: 0; 
    
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #E9635A;
}

.header-fix {
    position: relative;
    left: 0;
    right: 0;
    height: 60px;
    background-color: rgb(99, 193, 184);
}

.content {
    /*height: 1000px;*/
    background-color: #F0F0F0;

}

/* Slider section */

.slider {
    width: 100%;
    position: relative;    
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: rgba(232, 100, 90, 1);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    color: black;
    text-decoration: none;
}

.prev:focus, .next:focus {
    text-decoration: none;
}

.rect {
    cursor: pointer;
    height: 3px;
    width: 30px;
    margin: 0 2px;
    background-color: #B0B8B9;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .rect:hover {
    background-color: #E8645A;
}

.myfade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.labe {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    width: 450px;
    margin: 0 auto;
    text-align: center;
}

.labe span {
    background-color: #E8645A;
    color: white;
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    padding: 0 5px;
}

.labe div {
    color: white;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 5px 20px;
    margin-top: 10px;
}

/* Main content */

.main-content {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

/* Top services */

.top-services {
    background-color: #ECECEC;
    border-radius: 3px;
    padding: 27px 30px;
}

.top-services .text {
    float: left;
}

.top-services .text span {
    color: #7F8C8D;
}

.top-services .text span:first-child {
    font-size: 20px;
}

.top-services .text span:last-child {
    font-size: 10px;
}

.top-services a {
    background-color: #FC645A;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    float: right;
    padding: 18px 45px;
}

.top-services a:focus, .top-services a:hover {
    text-decoration: none;
    color: black;
}

/* Badges */

.bages {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 50px;
}

.bage {
    background-color: #F8F8F8;
    width: 22%;
    height: auto;
    text-align: center;
    padding: 52px 20px 70px;
    position: relative;
}

.bage:hover {
    background-color: white;
}

.bage .glyphicon {
    font-size: 55px;
    color: #62BDBD;
}

.bage:hover .glyphicon {
    color: #E8645A;
}

.bage .bage-name {
    text-transform: uppercase;
    color: #7F8C8C;
    margin-top: 20px;
    margin-bottom: 38px;
    font-weight: bold;
}

.bage .description {
    color: #7F8C8C;
}

.bage a {
    position: absolute;
    left: 10%;
    bottom: -20px;
    text-decoration: none;
    background-color: #62BDBD;
    border-radius: 5px;
    color: white;
    padding: 15px 0;
    white-space: nowrap;
    width: 80%;
}

.bage a:hover {
    background-color: #E8645A;
    color: black;
    text-decoration: none;
}

.bage a:focus {
    text-decoration: none;
}

/* Adaptive layouting with flexbox*/
.company-year-statistics-overview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 580px; /* 560px width from mockup + 10px min margin for first & last child inside*/
    margin: 40px auto;
}

/* Adaptive layouting with blocks*/
/*.company-year-statistics-overview {*/
    /*width: 100%;*/
    /*max-width: 580px;*/
    /*margin: 40px auto;*/
/*}*/

/*.company-year-statistics-overview:before,*/
/*.company-year-statistics-overview:after {*/
    /*content: " ";*/
    /*display: table;*/
/*}*/

/*.company-year-statistics-overview:after {*/
    /*clear: both;*/
/*}*/

/*.company-year-statistics-overview > .statistics-overview {*/
    /*float: left;*/
/*}*/

footer {
    width: 100%;
}

.footer_navigation {
    padding: 35px 0;
    background-color: rgb(99, 193, 184);
}

.footer_social-networks {
    padding: 10px;
    background-color: rgb(82, 164, 155);
}

@media only screen and (max-width: 767px) {
    /*
        For mobile layouts
     */
}
