#content {
	width: 70%;
	margin: 0 auto;
	font-family: "Verdana", sans-serif;
}

h1, h2, h3 { text-align: center; }

p { 
	text-align: justify;
	text-indent: 50px;
}

#batman {
	float: left;
	padding-right: 15px;
	padding-bottom: 15px;
}

table {
	width: 100%;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse; 
}

th, td {
	padding: 10px;
}

th {
	background-color: black;
	color: white;
	text-align: left;
}

tr:nth-child(even) {
    background-color: #eee;
}

tr:nth-child(odd) {
   background-color:#fff;
}

#nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: black;
	overflow: hidden;
}

#nav li {
	float: left;
}

#nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#nav li a:hover {
	background-color: green;
}